.wrapp {
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.content {
  width: 80%;
  height: 500px;
  border: 1px solid gray;
  display: flex;
}

.blokLeft {
  height: 100%;
  width: 40%;
  margin: 10px 0px 10px 10px;
}

.blokLeft img {
  height: 400px;
}

.likeBtn {
  display: flex;
  justify-content: center;
}

.blokRite {
  height: 100%;
  margin: 10px 10px 0px 10px;
}

.taskPlace {
  display: flex;
  flex-direction: column;
}